<template>
<div>
    <!-- Top Header -->
    <header class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-2">
                    <!--<span style="color: #FF7900;"> Smart Guard</span>-->
                    <!--<ul  class="top-header-left">-->
                        <!--<li> <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a> </li>-->
                        <!--<li> <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a> </li>-->
                        <!--<li> <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a> </li>-->
                    <!--</ul>-->
                </div>
                <div class="col-lg-9 col-md-10">
                    <!--<ul  class="top-header-right">-->
                        <li class="text-white-50"> <i class='fa fa-email'></i> Support: Email@smartguards.net </li>
                        <!--<li> <i class='fa fa-envelope'></i> <a href="mailto:info@test.com">info@smartguard.com</a> </li>-->
                        <!--<li> <i class='fa fa-phone'></i> <a href="tel:+1(778)453221">+1 (254) 07120 345778</a> </li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div>
    </header>
    <!-- Top Header End -->
    <!-- Start Navbar Area -->

    <div class="navbar-area">
        <!-- Menu For Mobile Device -->
        <div class="mobile-nav"> <a href="#" class="logo"> <img src="/images/logo.jpg" alt="" style="width: 20%;"> </a> </div>

        <!-- Menu For Desktop Device -->
        <div class="top-nav main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light "> <a class="navbar-brand" href="/">
                    <!--<img src="/images/logo.jpg" alt="" style="width: 5%;">-->
                    <span style="color: #FF7900;" class="ml-5"> Smartguard</span>
                </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item"> <a href="/" class="nav-link active"> Home </a></li>
                            <li class="nav-item"><a href="/register">Sign up</a></li>
                            <!--<li class="nav-item"><a href="#">About</a></li>-->
                            <!--<li class="nav-item"> <a href="#" > Contact </a> </li>-->
                        </ul>
                        <div class="appointment-btn"><router-link :to="{name:'login'}" href="#" class="btn open-popup-link"> Sign in <i class='bx bx-right-arrow-alt'></i> </router-link> </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <transition name="fade">
        <router-view></router-view>

    </transition>


</div>
</template>
<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>
