<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Company Reports ( <span class="text-success">{{name}}</span>-<span class="text-info">{{branch}} </span>)-- {{report.length}} Records</h4>
                        <div class="d-flex float-left">
                            <div class="form-group mr-3">
                                <select class="form-control form-control-sm" id="exampleSelectGender" v-model="message.id" v-on:change="changeClientId()">
                                    <option disabled selected="selected">Select your client</option>
                                    <option v-for="data in clients" :key="data.id" v-bind:value="data.id" >{{data.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-sm" id="exampleSelectGender" v-model="message.branch_id" v-on:change="changeBranchId()">
                                    <option disabled selected="selected">Select branch then dates</option>
                                    <option v-for="data in branches" :key="data.id" v-bind:value="data.id" >{{data.name}}</option>
                                </select>
                            </div>
                            <div class="form-group ml-3">
                                <p>OR</p>
                            </div>
                            <div class="form-group ml-3">
                                <select class="form-control form-control-sm" id="exampleSelectGender" v-model="message.guard_id">
                                    <option disabled selected="selected">Select by guard then dates</option>
                                    <option v-for="data in guards" :key="data.id" v-bind:value="data.id">{{data.name}}</option>
                                </select>
                            </div>
                            <div class="mb-3 mb-xl-0 ml-3">
                                <div class="form-group">

                                    <input type="text" placeholder="Select date from" onfocus="(this.type='date')" v-model="message.date_from" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="mb-3 mb-xl-0 ml-3">
                                <div class="form-group">

                                    <input type="text" placeholder="Select date to" onfocus="(this.type='date')" v-model="message.date_to" class="form-control form-control-sm" v-on:change="security_get_report()">
                                </div>
                            </div>


                        </div>
                        <div class="d-flex float-right">
                            <div class="form-group ml-3">
                                <input type="text" v-model="message.filterval" v-on:keyup="filter()" class="form-control form-control-sm"  placeholder="Filter by name,id,or phone" >
                            </div>
                        <div class="mb-3 mb-xl-0 ml-3">
                            <div class="form-group">
                                <download-excel :data="report">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>
                        </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>phone</th>
                                    <th>ID</th>
                                    <th>Temp</th>
                                    <th>Car</th>
                                    <th>Department</th>
                                    <th>Reason</th>
                                    <th>Input by</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in pageOfItems">
                                    <td>{{index+1}}</td>
                                    <td>{{data.fname}} {{data.mname}} {{data.lname}}</td>
                                    <td>{{data.phone}}</td>
                                    <td>{{data.id_no}}</td>
                                    <td>{{data.temperature}}</td>
                                    <td>{{data.car_re_no}}</td>
                                    <td>{{data.department}}</td>
                                    <td>{{data.reason}}</td>
                                    <td>{{data.user}}</td>
                                    <td>{{data.created_at}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!--		Start Pagination -->

                        </div> <!-- 		End of Container -->
                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <jw-pagination :items="report" @changePage="onChangePage" ></jw-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    id:'',
                    user_id:'',
                    name:'',
                    email:'',
                    phone:'',
                    staff_no:'',
                    id_no:'',
                    branch_id:'',
                    status:'',
                    guard_id:''
                },
                report:[],
                report2:[],
                branches:[],
                clients:[],
                name:'',
                branch:'',
                guards:[],
                pageOfItems:[],
            }
        },
        created(){
            this.security_get_client();
        },
        methods: {
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.report=this.report2;
                }else{
                    let books =  this.report2.filter(function(product) {
                        return product.fname.toLowerCase().includes(filterval.toLowerCase()) || product.lname.toLowerCase().includes(filterval.toLowerCase()) || product.phone.toLowerCase().includes(filterval.toLowerCase())
                            || product.id_no.toLowerCase().includes(filterval.toLowerCase());
                    });
                    this.report=books;
                }
            },
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            changeClientId() {
                this.security_get_branch();
            },
            changeBranchId() {
                this.message.guard_id='';
                this.security_get_guards();
            },

            security_get_guards(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `security_get_guards/${this.message.id}`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.guards = response.data.guards;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            security_get_client() {
                let uri = this.proxyUrl + `security_get_client`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.clients = response.data.clients;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            security_get_branch() {
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `security_get_branch/${this.message.id}`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.branches = response.data.branches;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            security_get_report() {
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `security_get_report`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                    this.report2 = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },

        }
    }

</script>
