<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Blacklists </h4>

                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0 float-right ml-3">
                                <download-excel :data="blacklist">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ID no</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Reason</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in blacklist">
                                    <td>{{index+1}}</td>
                                    <td>{{data.id_no}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.phone}}</td>
                                    <td>{{data.reason}}</td>
                                    <td>{{data.created_at}}</td>
                                    <td ><a v-on:click="showModal2(data.name,data.id,data.id_no,data.reason)" class="fa fa-unlock text-primary"></a> </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--		Start Pagination -->

                        </div> <!-- 		End of Container -->

                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="blacklist" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Unlock</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="pt-3" v-on:submit.prevent="submit()">
                        <div class="modal-body">
                            <p>Are you sure you want to Unlock <span class="text-danger">{{message.name}}, {{message.id_no}}</span></p>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>This was the reason for blacklisting</label>
                                        <textarea class="form-control" rows="5" v-model="message.reason" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary submitbtn">Unlock</button>
                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    id:'',
                    name:'',
                    reason:'',
                    phone:''
                },
                blacklist:[],


            }
        },
        created(){
            this.client_get_blacklist();
        },
        methods: {
            showModal2(name,id,id_no,reason) {
                this.message.name=name;
                this.message.id=id;
                this.message.id_no=id_no;
                this.message.reason=reason;
                $("#blacklist").modal("show");
            },
            submit(){
                loadbutton();
                let uri = this.proxyUrl + `unlock`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        $("#blacklist").modal("hide");
                        this.client_get_blacklist();
                    }else{
                        showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            client_get_blacklist(){
                let uri = this.proxyUrl + `client_get_blacklist`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.blacklist=response.data.blacklist;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            client_edit_department(){
                loadbutton();
                let uri = this.proxyUrl + `client_edit_department`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.client_get_department();
                    }else{
                        showWarningToast(response.data.message);
                    }

                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },


        }
    }

</script>
