.card {
    /*border-radius: 15px 40px;*/
    background-color: #FFFFFF;
    border-radius: 0;
    border-top-style: solid;
    /* border-top-color: #FF7900; */
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}



.color-overlay {
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
}

#webcam {
    width: 100%;
    height: 100%;
}

.epass:hover {
    background-color: lightgray;
}


/*.camera_resource{*/


/*position: absolute;*/


/*margin-top: 60%;*/


/*justify-content: center;*/


/*}*/

.padding {
    padding: 3rem !important;
    margin-left: 200px
}

.pro-img {
    margin-top: -80px;
    margin-bottom: 20px
}

.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

.btn-rounded.btn-md {
    padding: 12px 35px;
    font-size: 16px
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px
}

.m-t-20 {
    margin-top: 20px
}

.text-center {
    text-align: center !important
}

@media only screen and (max-width: 1026px) {
    #profile_div {
        display: none;
    }
}

.asterik {
    color: red;
    font-weight: 400;
}

.img-div {
    text-align: center;
    padding: 3%;
    border: thin dotted #FF7900;
    height: 150px;
}

.img-div2 {
    text-align: center;
    padding: 3%;
    border: thin dotted #FF7900;
    /* width: 100%; */
    height: 150px;
}

.inputTag {
    display: none;
}

label {
    cursor: pointer;
}

.upload-img {
    object-fit: fill;
    max-width: 100%;
    max-height: 100%;
}
body,
html {
    font-family: "Montserrat", sans-serif!important;
    color: #2D2D2D!important;
    font-size: 15px!important;
}
