<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My Users</h4>
                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0">
                                <a v-on:click="adduser()" class="btn btn-warning rounded-0 text-white">Add User</a>
                            </div>
                            <div class="mb-3 mb-xl-0 ml-3">
                                <download-excel :data="users">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Role</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in users">
                                    <td>{{index+1}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.phone}}</td>
                                    <td>{{data.role}}</td>
                                    <td>{{data.created_at}}</td>
                                    <td v-if="data.status==='Active'"><label class="badge badge-success">{{data.status}}</label></td>
                                    <td v-else><label class="badge badge-danger">{{data.status}}</label></td>
                                    <td ><a v-on:click="editUser(data.id,data.name,data.email,data.phone,data.staff_no,data.id_no,data.status)" class="fa fa-edit text-primary"></a> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Add users </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="pt-3" v-on:submit.prevent="add_user()">
                        <div class="modal-body">


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email"  v-on:blur="checkEmail()" v-model="message.email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <vue-tel-input v-model="message.phone" v-bind="bindProps" class="form-control form-control-sm"></vue-tel-input>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary submitbtn">Submit</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <div class="modal fade" id="edituser" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Edit Users</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="pt-3" v-on:submit.prevent="edit_user()">
                        <div class="modal-body">


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email"  v-model="message.email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <vue-tel-input v-model="message.phone" v-bind="bindProps" class="form-control form-control-sm"></vue-tel-input>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="mr-3">Status</label>
                                        <label class="switch">
                                            <input type="checkbox" id="status">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary submitbtn">Update</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                message:{
                    id:'',
                    user_id:'',
                    name:'',
                    email:'',
                    phone:'',
                    status:'',
                },
                users:[],
            }
        },
        created(){
            setTimeout(() => {
                this.security_get_users();
            }, 2000);
        },
        methods: {
            adduser() {
                $("#adduser").modal("show");
            },
            editUser(id,name,email,phone,staff_no,id_no,status){
                this.message.name=name;
                this.message.email=email;
                this.message.phone=phone;
                this.message.user_id=id;
                this.message.status=status;
                $("#edituser").modal("show");
                if(this.message.status==='Active'){
                    $("#status").prop("checked", true);
                }
            },
            add_user(){
                loadbutton();
                let uri = this.proxyUrl + `add_user`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.message.name='';
                        this.message.email='';
                        this.message.phone='';
                        this.security_get_users();
                    }else{
                        showWarningToast(response.data.message);
                    }

                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            edit_user(){
                if(document.getElementById('status').checked){
                    this.message.status='Active'
                }else{
                    this.message.status='Inactive'
                }
                loadbutton();
                let uri = this.proxyUrl + `edit_user`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.security_get_users();
                    }else{
                        showWarningToast(response.data.message);
                    }

                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            security_get_users() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`security_get_users`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.users=response.data.users;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            checkEmail(){
                let uri =this.proxyUrl+`checkEmail`;
                this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    if(response.data.status){
                    }else{
                        showDangerToast(response.data.message);
                        this.message.email='';
                    }
                }).catch(error => {

                });

            },

        },



    }

</script>
