<template>
    <div>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">

                <div class="content-wrapper d-flex align-items-center auth color-overlay" style="background-image: url(/images/bg.jpg)">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                <!--<div class="brand-logo row justify-content-center">-->
                                    <!--<img src="/asset/images/logo-mini.svg" alt="logo" style="width: 20%;">-->
                                <!--</div>-->
                                <h4 class="text-center">Welcome {{name}}</h4>
                                <h6   class="font-weight-light text-center text-danger">You must change your current password to proceed.</h6>
                                <form class="pt-3"   v-on:submit.prevent="changePassword()">
                                    <div class="form-group">
                                        <input type="password" v-model="message.currentpass" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Current Password" required>
                                    </div>

                                        <div class="form-group">
                                            <input type="password" v-model="message.password" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="New Password" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" v-model="message.repass" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Confirmm password" required>
                                        </div>
                                    <div  class="mt-3">
                                        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn submitbtn" type="submit">Update</button>
                                    </div>
                                    <!--<div class="my-2 d-flex justify-content-between align-items-center">-->
                                        <!--<router-link :to="{name:'login'}" href="#" class="auth-link text-black">Login?</router-link>-->
                                    <!--</div>-->

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                name:'',
                id:'',
                phone:'',
                showPage:'false'
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.id=localStorage.getItem('id');
            this.phone=localStorage.getItem('phone');
        },
        methods: {
            changePassword(){
                loadbutton();
                let uri =this.proxyUrl+`changePassword`;
                this.axios.post(uri, this.message,{headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.$router.push({name: 'home'});
                        if(response.data.user.role==='guard'){
                            this.$router.go(this.$router.currentRoute)
                        }
                    }else{
                        showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    stopbutton();
                    showDangerToast('System error');
                });
            },

        },



    }

</script>
