<template>
<div>
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-5 mb-4 mb-xl-0">
                    <h4 class="font-weight-bold">Hi, Welcome!</h4>
                    <h4 class="font-weight-normal mb-0">{{name}},</h4>
                </div>
                <div class="col-12 col-xl-7">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <div class="border-right pr-4 mb-3 mb-xl-0" v-if="user_type==='security_firm' && role!=='guard'">
                            <p class="text-muted">Branches</p>
                            <h4 class="mb-0 font-weight-bold">{{data3.branches}}</h4>
                        </div>
                        <div class="border-right pr-4 mb-3 mb-xl-0" v-if="user_type==='client' || role==='guard'">
                            <p class="text-muted">Client</p>
                            <h4 class="mb-0 font-weight-bold">{{message.client_name}}</h4>
                        </div>
                        <div class="border-right pr-4 mb-3 mb-xl-0" v-if="user_type==='client' || role==='guard'">
                            <p class="text-muted">Branch</p>
                            <h4 class="mb-0 font-weight-bold">{{message.branch}}</h4>
                        </div>
                        <div class="border-right pr-4 mb-3 mb-xl-0" v-if="user_type==='security_firm' && role!=='guard'">
                            <p class="text-muted">Amount to Pay per branch</p>
                            <h4 class="mb-0 font-weight-bold">Ksh {{formatPrice(data3.amount)}}</h4>
                        </div>
                        <div class="border-right pr-4 mb-3 mb-xl-0" v-if="user_type==='security_firm' && role!=='guard'">
                            <p class="text-muted">SMS</p>
                            <h4 class="mb-0 font-weight-bold">{{data3.sms}}</h4>
                        </div>
                        <div class="border-right pr-4 mb-3 mb-xl-0" v-if="user_type==='security_firm' && role!=='guard'">
                            <p class="text-muted">Total</p>
                            <h4 class="mb-0 font-weight-bold">Ksh {{formatPrice((+data3.branches * +data3.amount)+(+data3.sms * 2))}}</h4>
                        </div>
                        <div class="border-right pr-4 mb-3 mb-xl-0">
                            <p class="text-muted">Company</p>
                            <h4 class="mb-0 font-weight-bold">{{message.company_name}}</h4>
                        </div>

                        <div class="mb-3 mb-xl-0" v-if="role==='guard'">
                            <a href="/input" class="btn btn-warning rounded-0 text-white">Start Recording</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row"  v-if="user_type==='security_firm' && role==='admin'">
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-primary">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Clients</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{dash.clients}}</h3>
                        <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-warning">2.00% <span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-warning">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Guards</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{dash.guards}}</h3>
                        <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-danger">0.22% <span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-success">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Today’s Visitors</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{dash.records[0].records}}</h3>
                        <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-success">10.00%<span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-danger">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Failed IPRS requests</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">0</h3>
                        <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-success">22.00%<span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>
    </div>


    <div class="row"  v-if="user_type==='client'">
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-info">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Clients</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{dash.clients}}</h3>
                        <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-warning">2.00% <span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-warning">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Guards</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{dash.guards}}</h3>
                        <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-danger">0.22% <span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-success">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Today’s Visitors</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{dash.records[0].records}}</h3>
                        <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-success">10.00%<span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-danger">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Failed IPRS requests</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">0</h3>
                        <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-success">22.00%<span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>
    </div>




    <div class="row" >
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Visitors summery per month</h4>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Attendance in the last 4 weeks</h4>
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="user_type==='client' || role==='guard'">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">This year visitor per department</h4>
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>


</div>
</template>
<script>
    export default {
        data() {
            return {
                proxyUrl: process.env.MIX_APP_URL,
                name:'',
                user_type:'',
                role:'',
                auth:'',
                dash:{},
                category:[],
                message:{},
                data:{},
                data3:{},
                data2:[],
                data4:[],
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
            this.user_type=localStorage.getItem('user_type');
            this.role=localStorage.getItem('role');
            if(this.role==='guard'){
                this.guard_get_data();
            }
            if(this.user_type==='security_firm' && this.role==='admin'){
                this.security_get_data()
            }
            if(this.user_type==='client'){
                this.client_get_data();
            }
            setTimeout(() => {
                this.setChart();
                this.setChart2();
            }, 2000);
            this.user();

        },
        methods: {
            setChart(){
                var data = {
                    labels: ["Jan", "Feb", "March", "April", "May", "Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                    datasets: [{
                        label: '# visitors',
                        data: [this.data.Jan, this.data.Feb, this.data.Mar, this.data.Apr, this.data.May, this.data.Jun,this.data.Jul,this.data.Aug,this.data.Sept,
                            this.data.Oct,this.data.Nov,this.data.Dece],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1,
                        fill: false
                    }]
                };
                var weeks = [];
                var values = [];

                $.each(this.data2, function(i, item) {
                    weeks.push('Week '+item.week);
                    values.push(item.visitor);
                });
                var doughnutPieData = {
                    datasets: [{
                        data: values,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                    }],

                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: weeks
                };
                var doughnutPieOptions = {
                    responsive: true,
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                };

                var options = {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    }

                };
                if ($("#barChart").length) {
                    var barChartCanvas = $("#barChart").get(0).getContext("2d");
                    // This will get the first returned node in the jQuery collection.
                    var barChart = new Chart(barChartCanvas, {
                        type: 'bar',
                        data: data,
                        options: options
                    });
                }
                if ($("#pieChart").length) {
                    var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
                    var pieChart = new Chart(pieChartCanvas, {
                        type: 'pie',
                        data: doughnutPieData,
                        options: doughnutPieOptions
                    });
                }

            },
            setChart2(){
                var deps=[];
                var visitors=[];

                $.each(this.data4, function(i, item) {
                    deps.push(item.department);
                    visitors.push(item.visitors);
                });
                var data = {
                    labels: deps,
                    datasets: [{
                        label: '# visitors',
                        data: visitors,
                        borderWidth: 1,
                        fill: false
                    }]
                };

                var options = {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    }

                };
                if ($("#lineChart").length) {
                    var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
                    var lineChart = new Chart(lineChartCanvas, {
                        type: 'line',
                        data: data,
                        options: options
                    });
                }

            },
            client_get_data(){
                let uri = this.proxyUrl + `client_get_data`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.dash = response.data;
                    this.data=response.data.data[0];
                    this.data2=response.data.data2;
                    this.data4=response.data.data4;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            security_get_data(){
                let uri = this.proxyUrl + `security_get_data`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.dash = response.data;
                    this.data=response.data.data[0];
                    this.data2=response.data.data2;
                    this.data3=response.data.data3;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            guard_get_data(){
                let uri = this.proxyUrl + `guard_get_data`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.data=response.data.data[0];
                    this.data2=response.data.data2;
                    this.data4=response.data.data4;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            user(){
                let uri =this.proxyUrl+`user`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.message=response.data.user[0];
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.$router.push({name: 'login'});
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        }
    }
</script>
