<template>
<div>

    <section class="slider-one">
        <div class="slider-one__carousel owl-carousel owl-theme">
            <div class="item slider-one__slider-1" style="background-image: url(/images/slide4.jpg);">
                <div class="container">
                    <h2 class="slider-one__title">Data Integrity & <span> Business Intelligence</span></h2>
                    <!-- /.slider-one__title -->
                    <p class="slider-one__text">We provide and automate data security and collection to security firms</p>
                    <router-link :to="{name:'select'}" href="#" class="theme-btn btn-style-one">
                        <div class="btn-title"><span class="btn-txt">Get started</span><span class="btn-icon"><span class="icon fa fa-long-arrow-right" aria-hidden="true"></span> </span></div>
                    </router-link>
                    <!-- /.slider-one__text -->
                </div>
                <!-- /.container -->
            </div>
             <!--/.item-->
            <div class="item slider-one__slider-2" style="background-image: url(/images/slide1.jpg);">
                <div class="container">
                    <h2 class="slider-one__title">SmartGuard Software<span> Data availability, data security</span></h2>
                    <!-- /.slider-one__title -->
                    <p class="slider-one__text">We provide and automate data security and collection to security firms</p>
                    <router-link :to="{name:'select'}" href="#" class="theme-btn btn-style-one">
                        <div class="btn-title"><span class="btn-txt">Get started</span><span class="btn-icon"><span class="icon fa fa-long-arrow-right" aria-hidden="true"></span> </span></div>
                    </router-link>
                    <!-- /.slider-one__text -->
                </div>
                <!-- /.container -->
            </div>
            <!--&lt;!&ndash; /.item &ndash;&gt;-->
            <!--<div class="item slider-one__slider-3" style="background-image: url(/images/slide3.jpg);">-->
                <!--<div class="container">-->
                    <!--<h2 class="slider-one__title">SmartGuard Software<span> Data collection efficiency</span></h2>-->
                    <!--<router-link :to="{name:'select'}" href="#" class="theme-btn btn-style-one">-->
                        <!--<div class="btn-title"><span class="btn-txt">Get started</span><span class="btn-icon"><span class="icon fa fa-long-arrow-right" aria-hidden="true"></span> </span></div>-->
                    <!--</router-link>-->
                    <!--&lt;!&ndash; /.slider-one__text &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.container &ndash;&gt;-->
            <!--</div>-->
            <!-- /.item -->
        </div>
        <!-- /.slider-one__carousel -->
    </section>
    <!--End Banner Section -->
    <!--Start About Section -->
    <section class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="full-sec-content">
                        <div class="sec-title style-two">
                            <h2>Smartguard Software</h2>
                            <span class="decor"> <span class="inner"></span> </span> </div>
                        <h3>Smartguard software  empowers guards and attendance managers by speeding up visitor check in as well as bringing sanity to the sorry state of visitor & access management.</h3>
                        <p>The guard only enters the ID/Passport number of the visitor to retrieve accurate details.</p>
                        <p> Gain actionable  insights critical for improvement in service delivery and client satisfaction.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <!--<div class="about-img"> <img src="/images/pic.PNG" alt="" data-popupalt-original-title="null" title=""></div>-->

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/images/pic.PNG" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/images/login.PNG" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/images/pic.PNG" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <a class="ml-5" href='https://play.google.com/store/apps/details?id=io.ionic.smartguard&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img style="width: 50%;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
                </a>
            </div>
        </div>
    </section>
    <!--End About Section -->
    <!--Start CTA Section -->
    <div class="quick-quote">
        <div class="container">
            <!--Row Start-->
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <h2>Looking for an excellent visitor management tool for your firm?</h2>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="quote-btn"> <a href="/register" class="theme-btn btn-style-one"><span class="btn-title">Create Account</span></a> </div>
                </div>
            </div>
            <!--Row End-->
        </div>
    </div>
    <!--End CTA Section -->
    <!--Start Our Services Section -->
    <section class="services-sec">
        <div class="container">
            <div class="sec-title text-center mb-0">
                <h2>Benefits of <span>Smartguard</span></h2>
                <p>Here are the top benefits smartguard users enjoy</p>
                <span class="decor"><span class="inner"></span></span> </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!--Single Services Section -->
                    <div class="single-item">
                        <div class="fig_caption">
                            <div class="icon"><i class="fa fa-desktop"></i> </div>
                            <div class="details">
                                <h3>Organized data storage</h3>
                                <p>To establish  and maintain a comprehensive central storage for security firms and their clients.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Single Services Section -->
                    <div class="single-item">
                        <div class="fig_caption">
                            <div class="icon"><i class="fa fa-pencil"></i> </div>
                            <div class="details">
                                <h3>Analysis</h3>
                                <p>  To be a single point of truth of information used  by clients for KYC requirements.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Single Services Section -->
                    <div class="single-item">
                        <div class="fig_caption">
                            <div class="icon"><i class="fa fa-lock"></i> </div>
                            <div class="details">
                                <h3>Security</h3>
                                <p> To “strengthen national security, reduce crime, improve safety in our companies and premises”.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-lg-4 col-md-6">-->
                    <!--&lt;!&ndash;Single Services Section &ndash;&gt;-->
                    <!--<div class="single-item">-->
                        <!--<div class="fig_caption">-->
                            <!--<div class="icon"><i class="fa fa-cogs"></i> </div>-->
                            <!--<div class="details">-->
                                <!--<h3>Multipurpose</h3>-->
                                <!--<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, massa ac ornare feugiat, ns S dui auctor ipsum..</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-4 col-md-6">-->
                    <!--&lt;!&ndash;Single Services Section &ndash;&gt;-->
                    <!--<div class="single-item">-->
                        <!--<div class="fig_caption">-->
                            <!--<div class="icon"><i class="fa fa-users"></i> </div>-->
                            <!--<div class="details">-->
                                <!--<h3>Customer Support</h3>-->
                                <!--<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, massa ac ornare feugiat, nunc dui auctor ipsum..</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-4 col-md-6">-->
                    <!--&lt;!&ndash;Single Services Section &ndash;&gt;-->
                    <!--<div class="single-item">-->
                        <!--<div class="fig_caption">-->
                            <!--<div class="icon"><i class="fa fa-envelope-o"></i> </div>-->
                            <!--<div class="details">-->
                                <!--<h3>Marketing</h3>-->
                                <!--<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, massa ac ornare feugiat, nunc dui auctor ipsum..</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </section>
    <!--End Our Services Section -->
    <!--Start Numbering Section -->
    <div class="achivement-area">
        <div class="container">
            <!-- Fixed Thumb -->
            <div class="fixed-thumb"> <img src="images/map.png" alt=""> </div>
            <!-- End Fixed Thumb -->
            <div class="row">
                <div class="col-lg-4 single-item">
                    <div class="fun-fact">
                        <div class="counter">
                            <div class="count">
                                <div class="timer plus" data-to="14" data-speed="5000"></div>
                            </div>
                        </div>
                        <div class="info">
                            <h5>Firms</h5>
                            <!--<p> Plan upon yet way get cold spot its week. Almost do am or limits. </p>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 single-item">
                    <div class="fun-fact">
                        <div class="counter">
                            <div class="count">
                                <div class="timer plus" data-to="10" data-speed="5000"></div>
                            </div>
                        </div>
                        <div class="info">
                            <h5>Countries</h5>
                            <!--<p> Plan upon yet way get cold spot its week. Almost do am or limits. </p>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 single-item">
                    <div class="fun-fact">
                        <div class="counter">
                            <div class="count">
                                <div class="timer" data-to="4" data-speed="5000"></div>
                            </div>
                        </div>
                        <div class="info">
                            <h5>Clients</h5>
                            <!--<p> Plan upon yet way get cold spot its week. Almost do am or limits. </p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Our Services Section -->

    <!--Start Testmonials Section -->
    <section class="testimonials-sec">
        <div class="container">
            <div class="sec-title text-center mb-0">
                <h2>Our <span>Promise</span></h2>
                <!--<p>Lorem ipsum is a dummy text it will use for subtitle here</p>-->
                <span class="decor"><span class="inner"></span></span> </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="test-active owl-carousel">
                        <div class="item">
                            <div class="review-box">
                                <div class="members-rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="members-text">
                                    <p>As we move ever further into the digital age, it's becoming clearer and clearer the old adage “knowledge is power”.Gain
                                        more insights from your visitors & drastically improve service delivery.</p>
                                    <img src="/images/logo.jpg" alt="" style="width: 20%;">
                                </div>
                                <div class="about-author d-flex align-items-center">
                                    <div class="author-ava"> <img src="images/test-img1.png" alt=""> </div>
                                    <div class="author-desination author-desination-2">
                                        <h4> Insight</h4>
                                        <!--<h6>Founder, TrashTheme</h6>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="review-box">
                                <div class="members-rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="members-text">
                                    <p>With smartguard you gain a way competitive edge over those who prefer to keep everything local &
                                        paper based. That's their choice, but doing so places them at a distinct disadvantage
                                        when competing with those who have the benefits of the smartguard at their fingertips.</p>
                                </div>
                                <div class="about-author d-flex align-items-center">
                                    <div class="author-ava"> <img src="images/test-img2.png" alt=""> </div>
                                    <div class="author-desination author-desination-2">
                                        <h4> Competitive Edge</h4>
                                        <!--<h6>Founder, TrashTheme</h6>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="review-box">
                                <div class="members-rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="members-text">
                                    <p>Your business has only a finite amount of focus to divide between all of its responsibilities.
                                        Smartguard gives you the flexibility to run your access management from any device from
                                        anywhere anytime significantly cutting down on the negative impacts on  your bottom line.</p>
                                </div>
                                <div class="about-author d-flex align-items-center">
                                    <div class="author-ava"> <img src="images/test-img3.png" alt=""> </div>
                                    <div class="author-desination author-desination-2">
                                        <h4>Flexibility </h4>
                                        <!--<h6>Founder, TrashTheme</h6>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="review-box">
                                <div class="members-rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="members-text">
                                    <p>Lorem ipsum dolor sit amet, coning
                                        ctetur adipisicing elit, sed do it on
                                        eiusmod tempor incididunt me
                                        ut labore et dolore.</p>
                                </div>
                                <div class="about-author d-flex align-items-center">
                                    <div class="author-ava"> <img src="images/test-img2.png" alt=""> </div>
                                    <div class="author-desination author-desination-2">
                                        <h4>Jeni Blake</h4>
                                        <h6>Founder, TrashTheme</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Testmonials Section -->



    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>© Copyright <span id="year"></span> Smartguard <span class="color"></span>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
