<template>
    <div>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">

                <div class="content-wrapper d-flex align-items-center auth color-overlay" style="background-image: url(/images/bg.jpg)">
                        <div class="row w-100 mx-0">
                            <div class="col-lg-4 mx-auto">
                                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                    <div class="brand-logo row justify-content-center">
                                        <img src="/images/index.png" alt="logo" style="width: 20%;">
                                    </div>
                                    <h4 class="text-center" style="color: #FF7900;">Smart Guard</h4>
                                    <h6 class="font-weight-light text-center">Sign in to continue.</h6>
                                    <form class="pt-3" v-on:submit.prevent="login()">
                                        <div class="form-group">
                                            <input type="email" v-model="message.email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Email" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" v-model="message.password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password" required>
                                        </div>
                                        <div class="mt-3">
                                            <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn submitbtn" type="submit">SIGN IN</button>
                                        </div>
                                        <div class="my-2 d-flex mt-3">
                                            <router-link :to="{name:'forget'}" href="#" class="auth-link text-black mr-5">Forgot password?</router-link>
                                            <a class="ml-5" href='https://play.google.com/store/apps/details?id=io.ionic.smartguard&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                                <img style="width: 50%;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
                                            </a>
                                        </div>

                                    </form>
                                </div>
                               <div class="row justify-content-center">
                                   <div class="col-sm-6">

                                   </div>
                               </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>

</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                location:{},
            }
        },
        created(){
            this.getLocation();
        },
        methods: {
            getLocation(){
                this.$getLocation(
                    {
                        enableHighAccuracy: true, //defaults to false
                        timeout: Infinity, //defaults to Infinity
                        maximumAge: 0 //defaults to 0
                    }).then(coordinates => {
                        this.message.lat=coordinates.lat;
                        this.message.lng=coordinates.lng;
                    });
            },
            login() {
                loadbutton();
                let uri =this.proxyUrl+`login`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        localStorage.setItem('token', response.data.access_token);
                        localStorage.setItem('name', response.data.user.name);
                        localStorage.setItem('user_type', response.data.user.user_type);
                        localStorage.setItem('role', response.data.user.role);
                        localStorage.setItem('auth', 'yes');
                         localStorage.setItem('logo',response.data.company.url);
                        showSuccessToast('Success sign in');
                        if(response.data.user.password_changed==='Yes') {
                            this.$router.push({name: 'home'});
                            if(response.data.user.role==='guard'){
                                this.$router.go(this.$router.currentRoute)
                            }

                        }else{
                            this.$router.push({name: 'changepassword'});
                        }

                    }else{
                        showWarningToast(response.data.message);
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    stopbutton();
                    showDangerToast('System error');
                    localStorage.removeItem('token')
                });

            },

        },



    }

</script>
