<template>
    <div>

        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">

                <div class="content-wrapper d-flex align-items-center auth color-overlay" style="background-image: url(/images/bg.jpg)">
                        <div class="row w-100 mx-0">
                            <div class="col-lg-6 mx-auto">
                                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                    <div class="brand-logo row justify-content-center">
                                        <!--<img src="/asset/images/logo-mini.svg" alt="logo" style="width: 20%;">-->
                                    </div>
                                    <h4 class="text-center">Company Account sign up</h4>
                                    <!--<h6 class="font-weight-light text-center">Fill the form bellow to signup .</h6>-->
                                    <form class="pt-3" v-on:submit.prevent="register()">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <country-select v-model="message.country" :country="country" topCountry="US"   class="form-control form-control-sm"></country-select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" v-model="message.company_name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Company name" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" v-model="message.address" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Company address" required>
                                            </div>
                                            </div>
                                            <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" v-model="message.contact" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Company Contact " required>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" v-model="message.pin" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Company PIN" required>
                                                </div>
                                            </div>
                                        </div>

                                        <p>Contact person(* You may add more users later*)</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Name" required>
                                            </div>
                                            </div>
                                            <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="email"  v-on:blur="checkEmail()" v-model="message.email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Email" required>
                                            </div>
                                            </div>
                                        </div>
                                            <div class="form-group">
                                                <vue-tel-input v-model="message.phone" v-bind="bindProps" class="form-control form-control-sm"></vue-tel-input>
                                            </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="password" v-model="message.password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password" required>
                                            </div>
                                            </div>
                                            <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="password" v-model="message.repass" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Confirm password" required>
                                            </div>
                                            </div>
                                        </div>

                                             <div class="form-group">
							<!-- <label class="col-form-label">Company logo <span class="asterik">*</span></label> -->
						 <div class="row justify-contenr-center">
               <div class="col-sm-6">
            <div class="img-div">
           <label for="inputTag">Select company logo(Optional) <br/>
            <i class="fa fa-2x fa-camera"></i>
            <input   v-on:change="onFileChange"   type="file" accept="image/*" />
            <br/>
            </label>
               </div>
               </div>

               <div class="col-sm-6">
            <div class="img-div2">
             <img :src="url" alt="" class="upload-img">
               </div>
               </div>
             </div>
						</div>

                                        <div class="my-2 d-flex justify-content-between align-items-center">
                                            <div class="form-check d-flex">
                                                <label class="form-check-label text-muted">
                                                    <input type="checkbox" class="form-check-input" required>

                                                </label>
                                                <router-link :to="{name:'terms'}" href="#" >I agree to the Terms and conditions</router-link>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <button class="btn btn-block btn-primary btn-sm font-weight-medium auth-form-btn submitbtn" type="submit">REGISTER</button>
                                        </div>


                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                country: '',
                region: '',
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                message:{},
                url:''
            }
        },
        methods: {
            onFileChange(e){
                let file = e.target.files[0];
                 this.url = URL.createObjectURL(file);
                 this.createBase64Image(file);
            },
            createBase64Image(fileObject){
                const reader=new FileReader();
                reader.onload=(e)=>{
                    this.message.file=e.target.result;
                };
                
                reader.readAsDataURL(fileObject);
            },
            register() {
                loadbutton();
                let uri =this.proxyUrl+`signup`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton();
                    if(response.data.status){
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('user_type', response.data.user.user_type);
                             localStorage.setItem('role', response.data.user.role);
                            localStorage.setItem('auth', 'yes');
                             localStorage.setItem('logo',response.data.company.url);
                            showSuccessToast('Success sign up');
                            this.$router.push({name: 'home'});
                    }else{
                        showWarningToast(response.data.message);
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    stopbutton();
                    showDangerToast('System unable to complete request');
                    localStorage.removeItem('token')
                });

            },
            checkEmail(){
                let uri =this.proxyUrl+`checkEmail`;
                this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    if(response.data.status){
                    }else{
                        showDangerToast(response.data.message);
                        this.message.email='';
                    }
                }).catch(error => {

                });

            },

        },



    }

</script>
