<template>
    <div>
        <section class="services-sec">
            <div class="container">
                <div class="sec-title text-center mb-0">
                    <p>Please tell what you want to do. Click one to proceed.</p>
                    <span class="decor"><span class="inner"></span></span> </div>
                <div class="row justify-content-center">
                    <router-link :to="{name:'login'}" class="col-lg-4 col-md-6">
                        <!--Single Services Section -->
                        <div class="single-item">
                            <div class="fig_caption">
                                <div class="icon"><i class="fa fa-sign-in"></i> </div>
                                <div class="details">
                                    <h3>Login</h3>
                                    <p> I already have an account, I just want to login in to my account.</p>
                                </div>
                            </div>
                        </div>
                    </router-link>
                    <a href="/register" class="col-lg-4 col-md-6">
                        <!--Single Services Section -->
                        <div class="single-item">
                            <div class="fig_caption">
                                <div class="icon"><i class="fa fa-user-plus"></i> </div>
                                <div class="details">
                                    <h3>Create account</h3>
                                    <p> I don't have account I want to sign up as Security Firm.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </section>
        <!--End Our Services Section -->
    </div>
</template>
