<template>
    <div >

        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-center auth color-overlay" style="background-image: url(/images/bg.jpg)">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-6 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                <div class="brand-logo row justify-content-center">
                                    <img src="/images/logo.jpg" alt="logo" style="width: 20%;">
                                </div>
                                <h4 class="text-center">Terms and Conditions</h4>
                                <!--<h6 class="font-weight-light text-center">Fill the form bellow to signup .</h6>-->
                                <p>By   agreeing   to   these   Terms,   you’re   agreeing   that,   when   using   the   Services,   you   willfollow these rules:
                                </p>
                                <ul>
                                    <li ><span class="fa fa-check text-success"></span> Don’t do anything illegal.</li>
                                    <li><span class="fa fa-check text-success"></span>Don’t engage in any activity that exploits, harms, or threatens to harm children.</li>
                                    <li><span class="fa fa-check text-success"></span>Don’t send spam or engage in phishing. Spam is unwanted or unsolicited bulkemail, postings, contact requests, SMS (text messages), instant messages, or similarelectronic   communications.   Phishing   is   sending   emails   or   other   electroniccommunications to fraudulently or unlawfully induce recipients to reveal personal orsensitive   information,   such   as   passwords,   dates   of   birth,   Social   Security   numbers,passport numbers, credit card information, financial information, or other sensitiveinformation, or to gain access to
                                        accounts or records, ex filtration of documents orother sensitive information, payment and/or financial benefit</li>
                                    <li><span class="fa fa-check text-success"></span>Don’t circumvent any restrictions on access to or availability of the Services.</li>
                                    <li><span class="fa fa-check text-success"></span>Don’t   engage   in   activity   that   is   harmful   to   you,   the   Services   or   others   (e.g.,transmitting viruses.</li>
                                <li><span class="fa fa-check text-success"></span>Don’t   infringe   upon   the   rights   of   others   (e.g.,   unauthorized   sharing   ofcopyrighted   music   or   other   copyrighted   material,   resale   or   other   distribution   ofsmartguardservices).ix. Don’t engage in activity that
                                    violates the privacy of others.x. Don’t help others break these rules</li>
                                </ul><br>
                                <p><b>Enforcement</b>. If you violate these Terms, we may stop providing Services to you or wemay close your  smartguard  account. When investigating alleged violations of these Terms,Detaline Ventures  reserves the right to review Your Content in order to resolve the issue.However, we
                                    cannot monitor the entire Services and make no attempt to do so.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</template>

