<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">

                <div class="card">
                    <div class="card-body">
                        <P>Add Branches to   <span class="text-success">{{client.name.toUpperCase()}}</span></P><hr>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab" aria-controls="home-1" aria-selected="true">Single Branch</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile-1" aria-selected="false">Multiple(Excel file)</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                        <form class="pt-3" v-on:submit.prevent="security_add_branch()">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Branch name" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" v-model="message.contact" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Branch Contact " required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" v-model="message.address" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Branch address" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" v-model="message.location" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Location " required>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-sm-12">
                                    <div class="form-check">
                                        <label class="switch">
                                            <input type="checkbox" id="sms">
                                            <span class="slider round"></span>
                                        </label>
                                        <label class="form-check-label" for="defaultCheck1">
                                           Enable SMS to this branch? (Visitor who checks in to receive notification).
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-12">
                                    <div class="form-check">
                                        <label class="switch">
                                            <input v-model="message.decision" type="checkbox" id="decisi">
                                            <span class="slider round"></span>
                                        </label>
                                        <label class="form-check-label" for="defaultCheck1">
                                            Add contact person? (This is the user who logs in).
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div v-if="message.decision===true">
                                <div class="row">
                                    <p class="text-center text-warning">*The contact person will receive sms and email notification with instruction how to login*</p>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" v-on:blur="checkEmail()" v-model="message.email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Email " required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" v-model="message.contact_name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <vue-tel-input v-model="message.phone" v-bind="bindProps" class="form-control form-control-sm"></vue-tel-input>
                                </div>
                            </div>

                            <div class="mt-3 col-sm-6">
                                <button class="btn  btn-primary  font-weight-medium auth-form-btn submitbtn" type="submit">SUBMIT</button>
                            </div>


                        </form>
                            </div>
                            <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
                               <p>If you have many branches in excel file, please upload the file in format shown bellow</p>
                                <form class="pt-3" v-on:submit.prevent="security_add_branch()">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Please select excel file</label>
                                            <input type="file"  class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Branch Contact " required>
                                        </div>
                                    </div>

                                    <div class="mt-3 col-sm-6">
                                        <button class="btn  btn-primary  font-weight-medium auth-form-btn submitbtn" type="submit">UPLOAD</button>
                                    </div>
                                </form>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                client:{},
                message:{decision:false,sms:'NO'}
            }
        },
        created(){
            this.security_get_client_detail();
        },
        methods: {
            security_get_client_detail(){
                let uri =this.proxyUrl+`security_get_client_detail/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.client=response.data.client;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            checkEmail(){
                let uri =this.proxyUrl+`checkEmail`;
                this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    if(response.data.status){
                    }else{
                        showDangerToast(response.data.message);
                        this.message.email='';
                    }
                }).catch(error => {

                });

            },
            security_add_branch() {
                if(document.getElementById('sms').checked){
                    this.message.sms='YES'
                }else{
                    this.message.sms='NO'
                }
                loadbutton();
                let uri =this.proxyUrl+`security_add_branch/${this.$route.params.id}`;
                this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.message={decision:false,sms:'NO'};
                    }else{
                        showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },

        },



    }

</script>
