<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My Branches  <span class="text-warning">*Select your client to see branches or add branches*</span>({{branches.length}})</h4>
                        <div class="mb-3 mb-xl-0 float-left d-flex">
                            <div class="form-group">
                                <select class="form-control" id="exampleSelectGender" v-model="message.id" v-on:change="changeId()">
                                    <option disabled selected="selected">Select your client</option>
                                    <option v-for="data in clients"  :key="data.id" v-bind:value="data.id">{{data.name}}</option>
                                </select>
                            </div>
                            <div class="form-group" v-if="clients.length<=0">
                                <p class="text-danger ml-5">You you need to add a client in order to add branch</p>
                            </div>
                        </div>
                        <div class="d-flex float-right">
                            <div class="form-group mr-3">
                                <input type="text" v-model="message.filterval" v-on:keyup="filter()" class="form-control form-control-sm"  placeholder="Filter by name" >
                            </div>
                        <div class="mb-3 mb-xl-0 ">
                                <a v-on:click="addBranches()" class="btn btn-warning rounded-0 text-white">Add Branch</a>
                        </div>
                            <div class="mb-3 mb-xl-0 ml-3">
                                <download-excel :data="branches">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Branch Name</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Location</th>
                                    <th>Status</th>
                                    <th>SMS</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in pageOfItems">
                                    <td>{{index+1}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.contact}}</td>
                                    <td>{{data.address}}</td>
                                    <td>{{data.location}}</td>
                                    <td v-if="data.status==='Active'"><label class="badge badge-success">{{data.status}}</label></td>
                                    <td v-else><label class="badge badge-danger">{{data.status}}</label></td>
                                    <td v-if="data.sms==='YES'" class="text-info">{{data.sms}}</td>
                                    <td v-else class="text-danger">{{data.sms}}</td>
                                    <td ><router-link :to="{name:'edit_branch',params:{id:data.id}}" class="fa fa-edit text-primary"></router-link> </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--		Start Pagination -->

                        </div> <!-- 		End of Container -->
                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <jw-pagination :items="branches" @changePage="onChangePage" ></jw-pagination>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{id:''},
                branches:[],
                branches2:[],
                clients:[],
                pageOfItems:[],

            }
        },
        created(){
            this.security_get_client();
        },
        methods: {
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.branches=this.branches2;
                }else{
                    let books =  this.branches2.filter(function(product) {
                        return product.name.toLowerCase().includes(filterval.toLowerCase());
                    });
                    this.branches=books;
                }
            },
            changeId() {
                this.security_get_branch();
            },
            addBranches() {
                if (this.message.id === '') {
                    showWarningToast('Please select one client to proceed')
                } else {
                    this.$router.push({name: 'add_branches', params: {id: this.message.id}});
                }
            },
            security_get_branch() {
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `security_get_branch/${this.message.id}`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.branches = response.data.branches;
                    this.branches2 = response.data.branches;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            security_get_client() {
                let uri = this.proxyUrl + `security_get_client`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.clients = response.data.clients;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },

        }
    }

</script>
