<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My Reports -- {{report.length}} Records</h4>
                        <div class="d-flex float-left mr-3">
                            <div class="form-group">
                                <select class="form-control form-control-sm" id="" v-model="showDiv" v-on:change="showOptions()">
                                    <option disabled selected="selected">Select category</option>
                                    <option value="byDate" >By dates only</option>
                                    <option value="byGuard" >By guards</option>
                                    <option value="byDep" >By department</option>
                                    <option value="byRand" >By random search</option>
                                    <option value="byRange" >By temperature range</option>
                                    <option value="byFrequest">By most frequent visitor</option>
                                </select>
                            </div>

                        </div>
                        <div class="d-flex float-left" v-if="showDiv==='byDate'">
                        <div class="mb-3 mb-xl-0 ">
                            <div class="form-group">

                                <input type="text" placeholder="Select date from then date to" onfocus="(this.type='date')" v-model="message.date_from" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="mb-3 mb-xl-0 ">
                            <div class="form-group">
                                <input type="date" v-model="message.date_to" class="form-control form-control-sm" v-on:change="branch_get_report()">
                            </div>
                        </div>
                        </div>

                        <div class="d-flex float-left" v-if="showDiv==='byGuard'">
                            <div class="form-group mr-3">
                                <select class="form-control form-control-sm" v-model="message.guard_id">
                                    <option disabled="disabled" selected="selected">Select guard</option>
                                    <option v-for="data in guards" :key="data.id" v-bind:value="data.id">{{data.name}}</option>
                                </select>
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <input type="text" placeholder="Select date from" onfocus="(this.type='date')" v-model="message.date_from" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <input type="date" v-model="message.date_to" class="form-control form-control-sm" v-on:change="branch_get_report_by_guard()">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex float-left" v-if="showDiv==='byDep'">
                            <div class="form-group mr-3">
                                <select class="form-control form-control-sm" id="exampleSelectGender" v-model="message.dep_id">
                                    <option disabled selected="selected">Select by department then dates</option>
                                    <option v-for="data in deps" :key="data.id" v-bind:value="data.id" >{{data.name}}</option>
                                </select>
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <input type="text" placeholder="Select date from" onfocus="(this.type='date')" v-model="message.date_from" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <input type="date" v-model="message.date_to" class="form-control form-control-sm" v-on:change="branch_get_report_by_dep()">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex float-left" v-if="showDiv==='byRand'">
                            <div class="form-group mr-3">
                                <input type="text" v-model="message.key_word" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter name or phone or ID no" required>
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <button type="button" v-on:click="branch_get_report_by_rand()" class="btn btn-outline-warning "><i class="fa fa-search"></i></button>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex float-left" v-if="showDiv==='byRange'">
                            <div class="form-group mr-3">
                                <input type="text" v-model="message.min" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter min temperature" required>
                            </div>
                            <div class="form-group mr-3">
                                <input type="text" v-model="message.max" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter max temperature" required>
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <button type="button" v-on:click="branch_get_report_by_range()" class="btn btn-outline-warning btn-block"><i class="fa fa-search"></i></button>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex float-right">
                            <div class="form-group mr-3">
                                <input type="text" v-model="message.filterval" v-on:keyup="filter()" class="form-control form-control-sm"  placeholder="Filter by name,id,or phone" >
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <download-excel :data="report">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>ID</th>
                                    <th>Temp</th>
                                    <th>Car</th>
                                    <th>Department</th>
                                    <th>Time in</th>
                                    <th>Time out</th>
                                    <th>Reason</th>
                                    <th>Input by</th>
                                    <th>Date</th>
                                    <th>Rate</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in pageOfItems">
                                    <td>{{index+1}}</td>
                                    <td>{{data.fname}} {{data.mname}} {{data.lname}}</td>
                                    <td>{{data.phone}}</td>
                                    <td>{{data.id_no}}</td>
                                    <td>{{data.temperature}}</td>
                                    <td>{{data.car_re_no}}</td>
                                    <td>{{data.department}}</td>
                                    <td>{{data.timein}}</td>
                                    <td>{{data.timeout}}</td>
                                    <td>{{data.reason}}</td>
                                    <td>{{data.user}}</td>
                                    <td>{{data.created_at}}</td>
                                    <td v-if="data.blacklist<=0"><a v-on:click="showModal(data.fname,data.lname,data.id_no,data.phone)" class="fa fa-lock text-success"></a></td>
                                    <td v-else><a v-on:click="showModal(data.fname,data.lname,data.id_no,data.phone)" class="fa fa-lock text-danger"></a></td>
                                </tr>
                                </tbody>
                            </table>
                            <!--		Start Pagination -->

                        </div> <!-- 		End of Container -->
                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <jw-pagination :items="report" @changePage="onChangePage" ></jw-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="blacklist" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Blacklist</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="pt-3" v-on:submit.prevent="submit()">
                        <div class="modal-body">
                            <p>Are you sure you want to blacklist <span class="text-danger">{{blacklist.name}}, {{blacklist.id_no}}</span></p>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Describe reason for blacklisting</label>
                                        <textarea class="form-control" rows="5" v-model="blacklist.reason" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary submitbtn">Blacklist</button>
                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    guard_id:'',
                    dep_id:'',
                },
                report:[],
                report2:[],
                pageOfItems:[],
                showDiv:'No',
                guards:[],
                deps:[],
                blacklist:{name:'',id_no:'',phone:''},

            }
        },
        created(){
         this.client_get_department();
         this.branch_get_guards();
        },
        methods: {
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.report=this.report2;
                }else{
                    let books =  this.report2.filter(function(product) {
                        return product.fname.toLowerCase().includes(filterval.toLowerCase()) || product.lname.toLowerCase().includes(filterval.toLowerCase()) || product.phone.toLowerCase().includes(filterval.toLowerCase())
                            || product.id_no.toLowerCase().includes(filterval.toLowerCase());
                    });
                    this.report=books;
                }
            },
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            showModal(fname,lname,id_no,phone){
             this.blacklist.name=fname+' '+lname;
             this.blacklist.id_no=id_no;
             this.blacklist.phone=phone;
                $("#blacklist").modal("show");
            },
            submit(){
               loadbutton();
                let uri = this.proxyUrl + `blacklist`;
                this.axios.post(uri,this.blacklist, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                   stopbutton();
                   if(response.data.status){
                       showSuccessToast(response.data.message);
                       $("#blacklist").modal("hide");
                   }else{
                      showWarningToast(response.data.message);
                   }
                }).catch(error => {
                   stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            showOptions(){
                if(this.showDiv==='byFrequest'){
                    this.branch_get_report_by_frequent();
                }
            },

            client_get_department(){
                let uri = this.proxyUrl + `client_get_department`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.deps=response.data.department;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            branch_get_report_by_rand(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_report_by_rand`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                    this.report2 = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            branch_get_report_by_frequent(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_report_by_frequent`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                    this.report2 = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            branch_get_report_by_guard(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_report_by_guard`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                    this.report2 = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            branch_get_report_by_dep(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_report_by_dep`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                    this.report2 = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            branch_get_report_by_range(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_report_by_range`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                    this.report2 = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            branch_get_report() {
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_report`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                    this.report2 = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            branch_get_guards() {

                let uri = this.proxyUrl + `branch_get_guards`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.guards = response.data.guards;
                }).catch(error => {

                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },

        }
    }

</script>
