<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="add-items d-flex mb-0">
                            <input type="text" v-model="message.filterval" v-on:keyup="filter()"   class="form-control form-control-sm"  placeholder="Type any pass key OR id here">
                        </div><hr>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                                <li v-for="data in epass" class="epass" v-on:click="client_get_epass_info(data.data_id,data.id)">
                                    <div class="form-check form-check-flat text-center" >
                                       <h6> {{data.epass}}- {{data.id_no}}</h6>
                                        <p> <timeago :datetime="data.timein" :auto-update="60"></timeago></p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">E-PASS</h4><hr>
                        <div >
                            <form class="pt-3" v-on:submit.prevent="client_get_epass_checkout()">
                                <div class="row">
                                    <div class="col-sm-4">

                                        <div class="form-group">
                                            <label>First name</label>
                                            <input type="text" v-model="message.fname" class="form-control form-control-sm" id="exampleInputEmail1" disabled >
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Last name</label>
                                            <input type="text" v-model="message.lname" class="form-control form-control-sm" id="exampleInputEmail1"  disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>ID No</label>
                                            <input type="text" v-model="message.id_no" class="form-control form-control-sm" id="exampleInputEmail1" disabled >
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <vue-tel-input v-model="message.phone" v-bind="bindProps" class="form-control form-control-sm" disabled></vue-tel-input>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Body temperature(If taken)</label>
                                            <input type="text" v-model="message.temperature" class="form-control form-control-sm"  disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Department attending(optional)</label>
                                            <select class="form-control form-control-sm" id="exampleSelectGender" v-model="message.department_id" disabled>
                                                <option disabled selected="selected">Select department</option>
                                                <option v-for="data in department" :key="data.id" v-bind:value="data.id">{{data.name}}-{{data.contact_name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-sm-4">
                                        <div class="form-group ">
                                            <label>Car reg no.(If available)</label>
                                            <div class="d-flex">
                                                <input type="text" v-model="message.car_reg_no" class="form-control form-control-sm" disabled >
                                                <!--<a href="#" v-on:click="showModal('car_reg_no')" class="fa fa-camera fa-2x text-success ml-1"></a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Laptop serial no.(If available)</label>
                                            <input type="text" v-model="message.laptop" class="form-control form-control-sm"  disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Reason for visiting(optional)</label>
                                            <input type="text" v-model="message.reason" class="form-control form-control-sm"  disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-4">
                                        <div class="form-group ">
                                            <label>E-pass Number</label>
                                            <div class="d-flex">
                                                <input type="text" v-model="epaass_data.epass" class="form-control form-control-sm" disabled >
                                                <!--<a href="#" v-on:click="showModal('car_reg_no')" class="fa fa-camera fa-2x text-success ml-1"></a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Queue</label>
                                            <input type="text" v-model="epaass_data.id" class="form-control form-control-sm"  disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>E-pass status</label>
                                            <input type="text" v-model="epaass_data.epass_status" class="form-control form-control-sm"  disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p>Time In :<span class="text-warning">{{message.timein}}</span></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>Time already taken :<span class="text-success">{{time_taken}}</span></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>Which is :<span class="text-success"><timeago :datetime="message.timein" :auto-update="60"></timeago></span></p>
                                    </div>
                                </div>
                                <div class="mt-3" v-if="epaass_data.epass_status==='Active'">
                                    <button class="btn btn-block btn-warning  font-weight-medium auth-form-btn submitbtn " type="submit">VERIFY AND ADMIT</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
    import moment from 'moment';
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                ocrUrl: process.env.MIX_OCR_URL,
                country: '',
                region: '',
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                message:{department_id:''},
                data:{},
                update_data:{},
                showpage:'false',
                department:[],
                info:'',
                showInfo:'false',
                action:'',
                image:'',
                query:'checkin',
                access_status:'',
                epass:[],
                epass2:[],
                epaass_data:{},
                time_taken:''
            }
        },
        created(){
            this.client_get_epass();
            this.client_get_department();
        },
        methods: {
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.epass=this.epass2;
                }else{
                    let books =  this.epass2.filter(function(product) {
                        return product.epass.toLowerCase().includes(filterval.toLowerCase()) || product.id_no.toLowerCase().includes(filterval.toLowerCase());
                    });
                    this.epass=books;
                }
            },
            client_get_epass_checkout(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.getTimeOut();
                let uri = this.proxyUrl + `client_get_epass_checkout`;
                this.axios.post(uri,this.update_data, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.message= {department_id:''};
                        this.data= {};
                        this.epaass_data={};
                        this.message={department_id:''};
                        this.showpage='false';
                        this.client_get_epass();
                    }else{
                        showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            client_get_epass_info(data_id,id){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.update_data.data_id=data_id;
                this.update_data.id=id;
                let uri=this.proxyUrl +'client_get_epass_info';
                this.axios.post(uri,this.update_data, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.message=response.data.data;
                        this.epaass_data=response.data.epaass_data;
                        this.dateDiff(this.message.timein);
                    }else{
                        showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            client_get_epass_ontype(){
                let uri = this.proxyUrl + `client_get_epass_ontype`;
                this.axios.post(uri,this.data, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.epass=response.data.epass;
                }).catch(error => {

                });
            },
            client_get_epass(){
                let uri = this.proxyUrl + `client_get_epass`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.epass=response.data.epass;
                    this.epass2=response.data.epass;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            client_get_department(){
                let uri = this.proxyUrl + `client_get_department`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.department=response.data.department;

                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            getTimeOut() {
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date+' '+time;
                this.update_data.timeout=dateTime;
            },
            dateDiff(timein){
                this.getTimeOut();
                var now  = this.update_data.timeout;
                var then = timein;

                var ms = moment(now,"YYYY/MM/DD HH:mm:ss").diff(moment(then,"YYYY/MM/DD HH:mm:ss"));
                var d = moment.duration(ms);
                var s = Math.floor(d.asHours()) + moment.utc(ms).format(":mm:ss");
                this.time_taken=s;
            }

        },



    }

</script>
