<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <P>Fill the form bellow to on board your client</P><hr>
                                <form class="pt-3" v-on:submit.prevent="register()">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <country-select v-model="message.country" :country="message.country" topCountry="US"   class="form-control form-control-sm"></country-select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <region-select v-model="message.region" :country="message.country" :region="message.region"   class="form-control form-control-sm"></region-select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Company name" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" v-model="message.contact" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Company Contact " required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" v-model="message.address" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Company address" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" v-model="message.location" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Location " required>
                                    </div>
                                        </div>
                                    </div>

                                    <div class="mt-3 col-sm-6">
                                        <button class="btn  btn-primary  font-weight-medium auth-form-btn submitbtn" type="submit">SUBMIT</button>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,

                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                message:{
                    country: '',
                    region: '',
                },
            }
        },
        methods: {
            register() {
                loadbutton();
                let uri =this.proxyUrl+`security_add_client`;
                this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.message={country: '', region: '',};
                    }else{
                        showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },

        },



    }

</script>
