<template>
    <div>
<div class="row justify-content-center">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My Clients ({{clients.length}})</h4>
                <div class="d-flex float-right">
                    <div class="form-group mr-3">
                        <input type="text" v-model="message.filterval" v-on:keyup="filter()" class="form-control form-control-sm"  placeholder="Filter by name" >
                    </div>
                <div class="mb-3 mb-xl-0">
                    <router-link :to="{name:'addclient'}" class="btn btn-warning rounded-0 text-white">Add Client</router-link>
                </div>
                <div class="mb-3 mb-xl-0 ml-3">
                    <download-excel :data="clients">
                        <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                    </download-excel>
                </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Company Name</th>
                            <th>Country</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(data ,index) in pageOfItems">
                            <td>{{index+1}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.country}}</td>
                            <td>{{data.contact}}</td>
                            <td>{{data.address}}</td>
                            <td>{{data.location}}</td>
                            <td v-if="data.status==='Active'"><label class="badge badge-success">{{data.status}}</label></td>
                            <td v-else><label class="badge badge-danger">{{data.status}}</label></td>
                            <td ><router-link :to="{name:'get_cleint_details',params:{id:data.id}}" class="fa fa-edit text-primary"></router-link> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <jw-pagination :items="clients" @changePage="onChangePage" ></jw-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    country: '',
                    region: '',
                },
                clients:[],
                clients2:[],
                pageOfItems:[],
            }
        },
        created(){
            setTimeout(() => {
                this.security_get_client();
            }, 2000);
        },
        methods: {
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.clients=this.clients2;
                }else{
                    let books =  this.clients2.filter(function(product) {
                        return product.name.toLowerCase().includes(filterval.toLowerCase());
                    });
                    this.clients=books;
                }
            },
            security_get_client() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`security_get_client`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                   this.clients=response.data.clients;
                   this.clients2=response.data.clients;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },

        },



    }

</script>
