<template>
    <!--<div>-->
        <div class="App " id="wah">

        </div>
        <!--<div class="row justify-content-center">-->
            <!--<div class="col-lg-12 grid-margin stretch-card">-->
                <!--<div class="card">-->
                    <!--<div class="card-body">-->
                        <!--<h4 class="card-title">Map</h4>-->
                        <!--<div class="App ibox-body col-sm-12" id="wah">-->

                        <!--</div>-->


                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->



    <!--</div>-->
</template>
<script>
    import MarkerClusterer from '@googlemaps/markerclustererplus';
    import gmapsInit from '../gmaps';
    import  style from '../map'
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                locations:[],
            }
        },
        created(){
            this.getData();
        },
        methods: {
            async getData(){
                let uri = this.proxyUrl + `security_get_all_locations`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                   this.locations=response.data.position;
                    this.loadMap();
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            async loadMap() {
                try {
                    const google = await gmapsInit();
                    const geocoder = new google.maps.Geocoder();
                    let map = new google.maps.Map(document.getElementById('wah'),{
                        styles:style,
                    });

                    geocoder.geocode({address: `Kenya`}, (results, status) => {
                        if (status !== `OK` || !results[0]) {
                            throw new Error(status);
                        }
                        map.setCenter(results[0].geometry.location);
                        map.fitBounds(results[0].geometry.viewport);
                    });
                    var infowindow = new google.maps.InfoWindow({
                        // maxWidth: 400,
                    });
                    const markers = this.locations.map((location,i) => {
                        const marker = new google.maps.Marker({
                            ...location,
                            animation: google.maps.Animation.DROP,
                            icon: {
                                url: this.locations[i].position.icon,
                                scaledSize: new google.maps.Size(50, 50),
                            },
                            title:this.locations[i].position.name,
                            client:this.locations[i].position.client,
                            branch:this.locations[i].position.branch,
                            phone:this.locations[i].position.phone,
                        });
                        // marker.addListener(`click`, () => markerClickHandler(marker,i));
                        marker.addListener('click', function() {
                            // localStorage.setItem('pointid', this.id);
                            infowindow.setContent('<div id="content">'+
                                '<div id="siteNotice">'+
                                '</div>'+
                                '<h6 id="firstHeading" class="firstHeading">'+this.title+'</h6>'+
                                '<div id="bodyContent">'+
                                '<p>Client ::'+this.client+'</p>'+
                                '<p>Branch ::'+this.branch+'</p>'+
                                '<p>Phone ::'+this.phone+'</p>'+
                                // '<a class="btn btn-primary float-center btn-air" href="/view">View More</a>'+
                                '</span>'+
                                '</div>');
                            infowindow.open(map,this);
                            if (marker.getAnimation() !== null) {
                                marker.setAnimation(null);
                            } else {
                                marker.setAnimation(google.maps.Animation.BOUNCE);
                            }

                        });

                        return marker;
                    });
                    new MarkerClusterer(map, markers, {
                        maxWidth: 400,
                        imagePath: `https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m`,

                    });
                } catch (error) {
                    // eslint-disable-next-line no-console
                    console.error(error);
                }
            },

        }
    }

</script>

<style>

    .App {
        width: 100%;
        height: 100vh;
    }
</style>
