<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-10 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Register Attendance</h4><hr>

                        <ul class="nav nav-pills nav-pills-custom d-flex justify-content-center" id="pills-tab-custom" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" v-on:click="checkQuery('checkin')" id="pills-home-tab-custom" data-toggle="pill" href="#pills-health" role="tab" aria-controls="pills-home" aria-selected="true">
                                    Check in
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" v-on:click="checkQuery('checkout')" id="pills-profile-tab-custom" data-toggle="pill" href="#pills-career" role="tab" aria-controls="pills-profile" aria-selected="false">
                                    Check out
                                </a>
                            </li>

                        </ul>
                        <form class="pt-3" v-on:submit.prevent="callIPRS()"  enctype="multipart/form-data">
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="form-group d-flex">
                                        <input type="text" v-model="data.keyword" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter ID or Phone or Car Reg no." required>
                                        <a href="#" v-on:click="showModal()" class="fa fa-camera fa-2x text-primary ml-3"></a>
                                    </div>
                                </div>
                                <!--<div class="col-sm-2">-->
                                    <!--<input type="file" id="file_upload" v-on:change="onImageChange">-->
                                <!--</div>-->
                                <div class="col-sm-4">
                                    <button type="submit"  class="btn btn-outline-warning btn-block"><i class="fa fa-search"></i></button>
                                </div>
                                <p class="text-danger text-center text-sm-center" v-if="query==='checkout'">Enter ID no, phone or car reg no</p>
                            </div><hr>
                            <div class="alert alert-danger" role="alert" v-if="showInfo==='true'">
                               {{info}}
                            </div>
                        </form>
                        <div class="alert alert-danger" role="alert" v-if="message.status>0 || access_status>0">
                            *The visitor <span class="">{{message.fname}}  {{message.id_no}}</span> was blacklisted from this premise. Please contact management*
                        </div>
                            <div v-if="showpage==='true'">
                                <form class="pt-3" v-on:submit.prevent="client_save_data()">
                            <div class="row">
                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label>First name <span class="asterik">*</span></label>
                                        <input type="text" v-model="message.fname" class="form-control form-control-sm" id="exampleInputEmail1" required >
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Last name <span class="asterik">*</span></label>
                                        <input type="text" v-model="message.lname" class="form-control form-control-sm" id="exampleInputEmail1"  required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>ID No <span class="asterik">*</span></label>
                                        <input type="text" v-model="message.id_no" class="form-control form-control-sm" id="exampleInputEmail1" required >
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <vue-tel-input v-model="message.phone" v-bind="bindProps" class="form-control form-control-sm"></vue-tel-input>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Body temperature(If taken)</label>
                                        <input type="text" v-model="message.temperature" class="form-control form-control-sm"  >
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Department attending(optional)</label>
                                        <select class="form-control form-control-sm" id="exampleSelectGender" v-model="message.department_id">
                                            <option disabled selected="selected">Select department</option>
                                            <option v-for="data in department" :key="data.id" v-bind:value="data.id">{{data.name}}-{{data.contact_name}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                                <div class="row">

                                    <div class="col-sm-4">
                                        <div class="form-group ">
                                            <label>Car reg no.(If available)</label>
                                            <div class="d-flex">
                                            <input type="text" v-model="message.car_reg_no" class="form-control form-control-sm"  >
                                            <!--<a href="#" v-on:click="showModal('car_reg_no')" class="fa fa-camera fa-2x text-success ml-1"></a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Laptop serial no.(If available)</label>
                                            <input type="text" v-model="message.laptop" class="form-control form-control-sm"  >
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Reason for visiting <span class="asterik">*</span></label>
                                            <input type="text" v-model="message.reason" class="form-control form-control-sm"  required>
                                        </div>
                                    </div>
                                </div>
                            <div class="mt-3" v-if="query==='checkin' && message.status<=0">
                                <button class="btn btn-block btn-primary  font-weight-medium auth-form-btn submitbtn " type="submit">CHECK IN</button>
                            </div>
                                    <div class="mt-3" v-if="query==='checkout' && access_status<=0">
                                        <button class="btn btn-block btn-warning  font-weight-medium auth-form-btn submitbtn " type="submit">CHECK OUT</button>
                                    </div>
                                </form>

                            </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="idphoto" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content idphoto">
                                <video id="webcam" autoplay playsinline></video>
                                <canvas id="canvas" class="d-none"></canvas>
                                <audio id="snapSound" src="audio/snap.wav" preload = "auto"></audio>

                </div>
            </div>
            <div class="row justify-content-center">
                <!--<button type="submit" v-on:click="flip()" class="btn btn-warning btn-sm fa fa-refresh"></button>-->
                <a href="#" v-on:click="flip" class="fa fa-refresh fa-2x mr-5 text-white"></a>
                <a href="#" v-on:click="take" class="fa fa-camera fa-3x mr-5"></a>
                <a href="#" v-on:click="stop" class="fa fa-close fa-2x text-white"></a>
                <!--<button type="submit" v-on:click="take" class="btn btn-primary btn-sm fa fa-camera"></button>-->
                <!--<button type="button" v-on:click="stop()" class="btn btn-light btn-sm fa fa-close" data-dismiss="modal"></button>-->
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                ocrUrl: process.env.MIX_OCR_URL,
                country: '',
                region: '',
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                message:{department_id:''},
                data:{},
                showpage:'false',
                department:[],
                info:'',
                showInfo:'false',

                isCameraOpen: false,
                isPhotoTaken: false,
                action:'',
                image:'',
                id_no:'',
                name:[],
                query:'checkin',
                access_status:'',
                scanning:{},

            }
        },
        created(){
           this.client_get_department();
        },
        methods: {
            checkQuery(query){
                this.query=query;
                this.showpage='false';
                this.data.keyword='';
            },
            onImageChange(e){
                this.image = e.target.files[0];
                this.pushImage();
                // this.scanPlate();
            },
            scanPlate(){
                let formData = new FormData();
                formData.append('imagefile',this.image);
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.ocrUrl+'/plate';
                this.axios.post(uri,formData, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');


                }).catch(error => {
                    showDangerToast('Unable to complete scan, please position the ID well or type manually');
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }
                });
            },
            pushImage(){
                let formData = new FormData();
                formData.append('imagefile',this.image);
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.ocrUrl;
                this.axios.post(uri,formData, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.idno=response.data.id_no;
                    this.name=response.data.name;

                        this.data.keyword=this.idno;
                        this.message.idno=this.idno;
                        this.data.fname=this.name[0];
                        this.data.lname=this.name[1];
                        this.message.fname=this.name[0];
                        this.message.lname=this.name[1];
                        this.message.id_no=this.idno;
                        this.showpage='true';
                        setTimeout(() => {
                            this.callIPRS();
                        }, 2000);
                }).catch(error => {
                    showDangerToast('Unable to complete scan, please position the ID well or type manually');
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }
                });
            },
            take(){
                takePhoto();
                this.image =dataURItoBlob(localStorage.getItem('picture')) ;
                $("#idphoto").modal("hide");
                this.pushImage();
                this.stop();
            },
            flip(){
                fliCamera();
            },
            stop(){
                stopCamera();
                $("#idphoto").modal("hide");
            },

            showModal(){
                $("#idphoto").modal("show");
                initializeCamera();
                // startCamera();
            },
            client_save_data(){
                let uri='';
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                if(this.query==='checkout'){
                    this.getTimeOut();
                    uri = this.proxyUrl + `checkout`;
                }else{
                    this.getTimeIn();
                    uri = this.proxyUrl + `client_save_data`;
                }
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.message= {department_id:''};
                        this.data= {};
                        this.showpage='false';
                    }else{
                        showWarningToast(response.data.message);
                    }

                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System error, please check if all data are entered correctly');
                    }
                });
            },
            callIPRS(){
                this.showInfo='false';
                let uri='';
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                if(this.query==='checkout'){
                     uri = this.proxyUrl + `searchOut`;
                }else{
                     uri = this.proxyUrl + `callIPRS`;
                }
                this.axios.post(uri,this.data, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                       this.message=response.data.data;
                       this.accessstatus=response.data.access_status;
                        this.showpage='true';
                    }else{
                        if(response.data.enabled){
                            showWarningToast(response.data.message);
                        }else{
                            this.showInfo='true';
                            this.info=response.data.message;
                        }

                    }

                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            client_get_department(){
                let uri = this.proxyUrl + `client_get_department`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.department=response.data.department;

                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            getTimeIn() {
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date+' '+time;
                this.message.timein=dateTime;
            },
            getTimeOut() {
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date+' '+time;
                this.message.timeout=dateTime;
            },

        },



    }

</script>
